@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body {
	font-family: Josefin Sans;
	color: black;
	font-style: normal;
	font-weight: 500;

	width: 1120px;
	margin: 80px auto 48px auto;
}

ul {
	list-style-type: none;
}


h1 {
	font-size: 72px;
	margin: 0;
}

h3 {
	font-weight: 600;
}


nav, footer {
	font-family: Josefin Sans;
	font-weight: 600;
	font-size: 32px;
}


header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
/*	margin: 0 0 0 32px;*/
}




a {
	text-decoration: none;
	color: black;
	transition: color 0.3;
	margin: 0 32px 0 0;
}

a:hover {
	color: #E3B848;
}

video {
	padding: 0 0 76px 0;
}

/*img {
	padding: 0 0 148px 0;
}*/



section {	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


section.project_title {
	margin: 100px 0 0 0;
	flex-direction: column;
	justify-content: flex-start;
}

section.project_title h1 span {
	white-space: nowrap;
}

section.project_title h2 {
	margin: 0 0 100px 0;
}

section.project_img_single {
/*	background-color: #C4C4C4;*/
	margin: 0 0 148px 0;

}

section.project {
	flex-direction: row;
}

/* flex these */
section.project div.project_wrapper {
	margin: 0 0 68px 0; 
	width: 750px;
	line-height: 1.8;
	display: flex;

}

section.project div.project_wrapper h2 {
	width: 1200px;
	text-align: right;
	margin: 14px 30px 0 0;
}

section.project div.project_wrapper div.project_text p a {
	margin: 0 5px 0 0;
}

footer a {
	margin: 0 0 0 0;
}

footer div.pagination {
	margin: 100px 0 0 0;
}

footer div.pagination ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 100px 0 0 0;
}

footer div.pagination ul li.left {
	text-align: right;
	margin: 0 0 0 32px;
} 

footer div.pagination ul li.right {
	text-align: left;
	margin: 0 32px 0 0;
} 

footer div.pagination ul li.left img.arrow_left {
	margin: 0 0 6px 0;
}

footer div.pagination ul li.right img.arrow_right {
	margin: 0 0 4px 0;
}

#fb_title {
	color: #1A60B1;
}






/* media queries */

@media (max-width: 1120px) {

	body {
		width: auto;
	}

	header {
	margin: 0 0 0 32px;
	}

	section.project_title {
		margin: 32px 32px;
	}

	section.project_img_single {
		margin: 0px 32px 32px 32px;			
	}

	section div.project_text {
		margin: 0px 32px 32px 32px;	

	}

/*	video {
		margin: 0px 32px 32px 32px;	

	}*/


}


@media (max-width: 900px) {

	footer div.pagination ul {
	margin: 0;
}	

header {
	margin: 0 0 0 32px;
}


section.project_title {
	margin: 80px 32px 0 32px;
}
	
section.project_img_single {
	margin: 0px 32px 32px 32px;			
	}


}


@media (max-width: 790px) {

	header {
		flex-direction: column;
		margin: 0;
	}

	header a {
		margin: 0px 32px 0px 32px;			
	}


	section div.project_wrapper {
		flex-direction: column;
	}

	section.project div.project_wrapper h2 {
		width: auto;
		justify-content: flex-end;
		text-align: left;
		margin: 0px 32px 0px 32px;			
	}	


@media (max-width: 630px) {


footer div.pagination ul li.left a {
		font-size: 24px;
} 

footer div.pagination ul li.right a {
		font-size: 24px;
	} 

}

@media (max-width: 525px) {

footer div.pagination ul li.left a {
		font-size: 18px;
} 

footer div.pagination ul li.right a {
		font-size: 18px;
	} 

footer div.pagination ul li.left img.arrow_left {
	margin: 0 0 2px 0;
}


}

	




